<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
    <nav class="navbar navbar-default" role="navigation" style="background:#fff;border-color:#fff;">
	<div class="container-fluid">
	<div class="navbar-header">
		<h2 class="navbar-brand" style="color: cornflowerblue">个人信息</h2>
	</div>
	</div>
    </nav>

<div class="container">


            <p>id:<input class="panel panel-default" class="form-control" type=text value={{ user.id }} readonly></p>
            <p>用户名:<input class="panel panel-default" class="form-control" type=text value={{ user.username }} readonly></p>
            <p>密码:<input class="panel panel-default" class="form-control" type=text value={{ user.password }} readonly></p>
            <p>更多信息:</p>
            <textarea class="panel panel-default" class="form-control" style="resize: none" rows=5 cols=60 readonly>{{ user.moreinfo }}</textarea>
            <br>


        <a href="userinfo_edit.html">
            <button name=submit class="btn btn-default">修改</button>
        </a>
</div>